* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: sans-serif;
}


#navbar {
    width: 100vw;
    height: 70px;
    background-color: rgb(231, 90, 90);
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar a {
    display: flex;
    height: 100%;
    padding: 0 1.2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: lightgray;
    transition: all 0.5s;
}

#navbar a:hover {
    background-color: rgb(196, 197, 196);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    width: 100%;
    background: linear-gradient(90deg, rgb(63, 63, 63), rgb(41, 41, 41) 70%);
}

#welcome-section h1 {
    margin: auto auto 10px;
    font-size: 4rem;
    color: rgb(175, 174, 174);
    text-align: center;
}

#welcome-section h3 {
    margin: 0 auto auto;
    color: rgb(231, 90, 90);
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    text-align: center;
}


#projects {
    background-color: rgb(84, 84, 153);
    padding-top: 50px;
    padding-bottom: 50px;
}

#projects h1 {
    margin: 0 0 30px;
    text-align: center;
    font-size: 3rem;
    font-weight: bolt;
    color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    grid-gap: 2rem;

}

.project-tile {
    width: 100%;
    background-color: white;
}

.project-tile img {
    width: 100%;
    height: calc(100% - 3rem);
    object-fit: cover;
}

a.project-tile {
    display: block;
    text-align: center;
    width: 100%;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
}

.project-tile p {
    height: 3rem;
    padding-top: 0.8rem;
    text-decoration: none;
    background-color: rgb(126, 126, 126);
    font-weight: bold;
    color: white;
}

.project-tile span {
    padding: 0px 10px;
    color: rgb(126, 126, 126);
    transition: 1s;
}

.project-tile:hover span {
    color: orange;
}

.project-tile:hover {
    transform: scale(1.02);
}

#contact {
    padding: 100px 0;
    background-color: rgb(126, 126, 126);

}

#contact h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bolt;
    color: lightgray;
}

#contact p {
    color: lightgray;
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;

}

.socials {
    margin: 35px 0;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.socials a {

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 1s;

}

.socials i {
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

.socials a:hover {
    transform: translateY(15px)
}

@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .socials {
        flex-direction: column;
        align-items: center;
    }
}